@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  font-family: "Quicksand";
  /*--toastify-color-error: #17223B;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  text-align: center;
}

.home-content {
  padding: 10px;
}

a:hover {
  color: slategray;
}

.contact {
  align-content: center;
}

.contact-content {
  padding: 10px;
}