@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  font-family: "Quicksand";
  /*--toastify-color-error: #17223B;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  margin: 40px auto;
  padding: 15px;
  text-align: center;
}


a:hover {
  color: slategray;
}

.contact {
  padding: 5px;
  align-content: center;
}