@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body {
  margin: 0;
  font-family: "Quicksand";
  background-color: #27374D;
  color:#DDE6ED
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  background-color:#526D82 ;
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #9DB2BF;
}

.nav a {
  text-decoration: none;
  color:#DDE6ED;
  margin-left: 16px;
}

.nav a:hover {
  color: #9DB2BF;
}
